@use "../../mixins" as *;
@use "../../presets" as *;
.main {
  position: absolute;
  top: 0;
  // display: none;

  min-width: 100%;
  &__bg-img {
    position: absolute;
    z-index: -5;
    left: 50%;

    min-width: 50%;
    min-height: 100vh;

    background: no-repeat url("../img/section1.jpg");
    background-position: center;
    background-size: cover;
  }
}
