@use '../../../mixins' as *;
@use '../../../presets' as *;

.slider {
  overflow: hidden;

  position: relative;
  &__slides {
    position: relative;

    height: calc(100vh - 100px);
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__slide {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: opacity 0.5s;

    opacity: 0;
    /*
      non-essential styles:
      just for appearance; change whatever you want
    */
  }
  &__control-panel {
    position: absolute;
    z-index: 10;
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 12%;

    color: $color-additional;

    gap: 10px;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    cursor: pointer;
    user-select: none;
    transition: color 0.5s;
    transition: background-color 0.5s;

    border: $color-additional 2px solid;
    border-radius: 40px;

    font-weight: bold;
    &:hover {
      color: $color-bg-add;
      background-color: $color-additional;
    }
  }
  &__indicator-panel {
    position: absolute;
    z-index: 11;
    top: 30%;

    display: flex;
    justify-content: center;

    margin-top: 10px;

    transition: transform 1s 0.5s;
    transform: translate(40%, 0);

    gap: 20px;
    @include unlist;
  }
  &__indicator {
    cursor: pointer;
    transition: opacity 1s;

    opacity: 0.7;
    color: $color-additional;

    font-family: $font-header;
    font-size: 3rem;
    &--active {
      opacity: 1;
    }
    &:hover {
      // text-shadow: $color-additional 1px 0 10px;
      font-size: 3rem;
    }
  }
}

.active {
  z-index: 2;

  opacity: 1;
}
.slide {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;

  color: $color-additional;
  &__info {
    display: flex;
    flex-direction: column;

    max-width: 40%;
    max-height: 80%;
  }
  &__img {
    max-height: calc(100vh - 40px);
    & img {
      max-height: 100%;
    }
  }
  &__header {
    margin: 0;

    font-size: 2.5rem;
  }
  &__text {
    padding-top: 250px;
    padding-left: 30%;
  }
  &__link {
    margin-top: 20px;
    padding-left: 30%;

    & a {
      display: inline-block;

      padding: 7px 10px;

      transition: color 0.5s;
      transition: background-color 0.5s;
      text-decoration: none;

      color: $color-additional;
      border: $color-additional 2px solid;
      border-radius: 20px;
      &:hover {
        color: $color-bg-add;
        background-color: $color-additional;
      }
    }
  }
}
