@use '../../../mixins' as *;
@use '../../../presets' as *;

.slider {
  position: relative;
  &__slides {
    position: relative;
    height: calc(100vh - 40px);
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  &__slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
    /*
      non-essential styles:
      just for appearance; change whatever you want
    */
  }
  &__control-panel {
    z-index: 10;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: $color-additional;
  }
  &__controls {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    user-select: none;
    cursor: pointer;
    border: $color-additional 2px solid;
    transition: color 0.5s;
    transition: background-color 0.5s;
    &:hover {
      color: $color-bg-add;
      background-color: $color-additional;
    }
  }
  &__indicator-panel {
    position: absolute;
    top: 30%;
    z-index: 11;
    margin-top: 10px;
    @include unlist;
    display: flex;
    justify-content: center;
    gap: 20px;
    transform: translate(-33%, 0);
    transition: transform 1s 0.5s;
  }
  &__indicator {
    font-family: $font-header;
    font-size: 3rem;
    color: $color-additional;
    transition: opacity 1s;
    cursor: pointer;
    opacity: 0.7;
    &--active {
      opacity: 1;
    }
    &:hover {
      // text-shadow: $color-additional 1px 0 10px;
      font-size: 3rem;
    }
  }
}

.active {
  opacity: 1;
  z-index: 2;
}
.slide {
  box-sizing: border-box;

  color: $color-additional;
  display: flex;
  justify-content: space-between;
  &__info {
    max-width: 40%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
  }
  &__img {
    max-height: calc(100vh - 40px);
    & img {
      max-height: 100%;
    }
  }
  &__header {
    font-size: 2.5rem;
    margin: 0;
  }
  &__text {
    padding-top: 250px;
    padding-left: 30%;
  }
  &__link {
    margin-top: 20px;
    padding-left: 30%;

    & a {
      text-decoration: none;
      color: $color-additional;
      display: inline-block;
      border: $color-additional 2px solid;
      padding: 7px 10px;
      border-radius: 20px;
      transition: color 0.5s;
      transition: background-color 0.5s;
      &:hover {
        color: $color-bg-add;
        background-color: $color-additional;
      }
    }
  }
}
