@use "sass:math";
$font-header: "Conv_futura medium bt", sans-serif;
$font-main: "Conv_Chalet-LondonNineteenSixty", sans-serif;
$font-size: 14px;
$fourK: 2560px;
$uul: 1440px;
$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$gap: 20px;
$gap-sm: math.div($gap, 2);
$gap-lg: $gap * 1.5;
$gap-x2: $gap * 2;
$gap-x2: $gap * 2;
$gap-x3: $gap * 3;
$gap-x4: $gap * 4;
$gap-x5: $gap * 5;
