@use "sass:math";

$font-header: "Roboto Slab", serif;
$font-main: "Roboto", sans-serif;
$font-size: 16px;

$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gap: 20px;
$gap-sm: math.div($gap, 2);
$gap-lg: $gap * 1.5;
$gap-x2: $gap * 2;
$gap-x2: $gap * 2;
$gap-x3: $gap * 3;
$gap-x4: $gap * 4;
$gap-x5: $gap * 5;
