@use '../../mixins' as *;
@use '../../presets' as *;

.header {
  z-index: 150;

  height: 60px;

  transition: background 0.5s;
  &__container {
    max-height: 100%;
    padding: 20px;
  }
  &__menu {
    display: flex;
    align-items: center;

    max-height: 100%;

    gap: 20px;
  }
  &__logo {
    width: 80px;
    height: 20px;

    transition: background-image 0.5s;
  }
  &__logo--non-top {
    background-image: url(../img/logo.png);
    background-size: cover;
  }
  &__nav-bar,
  &__cart,
  &__style {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__nav-bar {
    flex-basis: 50%;

    gap: 20px;
    @include unlist;
    & a {
      text-decoration: none;

      color: $color-primary;

      font-family: $font-header;
    }
  }
  &__style--non-top {
    width: 10px;
    height: 10px;
    margin-left: 250px;

    border-radius: 10px;
    background-color: $color-primary;
  }
}
.header--not-top {
  position: fixed;
  z-index: 25;
  top: 0;
  right: 0;
  left: 0;

  background-color: $color-bg-main;
}

.nav-bar {
  &__open-linlk {
    display: none;
    transition: all 0.5s;
  }
  &__open-list {
    margin-left: 70px;
    margin-top: 30px;
  }
  &__shop-item,
  &__learn-item {
    opacity: 0.8;
    padding-left: 20px;

    & a {
      text-decoration: none;
      color: $color-bg-add;
    }

    &:hover {
      opacity: 1;
    }
  }
}
.open-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 40px 0px 0px 20px;
  cursor: pointer;
  &__span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    display: block;
    width: 50px;
    height: 5px;
    background-color: $color-bg-add;
  }
  &__span--1 {
    transform: rotate(45deg);
  }
  &__span--2 {
    transform: rotate(135deg);
  }
}
.open-link {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $color-additional;
  width: 60%;
  height: 100vh;
  z-index: 51;
  font-family: $font-header;
  font-size: 3rem;
  color: $color-bg-add;
}
