@use '../../mixins' as *;
@use '../../presets' as *;

.header {
  height: 60px;

  transition: background 0.5s;
  &__container {
    max-height: 100%;
    padding: 20px;
  }
  &__menu {
    display: flex;
    align-items: center;

    max-height: 100%;

    gap: $gap-x5;
    @include lg {
      gap: $gap;
    }
  }
  &__logo {
    width: 80px;
    height: 20px;
    margin-right: $gap-x3;

    transition: background-image 0.5s;
    @include lg {
      margin-right: $gap;
    }
  }
  &__logo--fixed {
    background-image: url(../img/logo.png);
    background-size: cover;
  }
  &__nav-bar,
  &__cart,
  &__style {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__cart {
    margin-left: auto;
  }

  &__style {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
  &__style--fixed {
    border-radius: 10px;
    background-color: $color-primary;
  }
}
.header--fixed {
  position: fixed;
  z-index: 25;
  top: 0;
  right: 0;
  left: 0;

  background-color: $color-bg-main;
}
