@use "../../mixins" as *;
@use "../../presets" as *;

.nav-bar {
  display: flex;
  flex-basis: 30%;

  @include lg {
    flex-basis: 50%;
  }
  @include md {
    justify-content: flex-start;
  }
  &__list-links {
    display: flex;
    justify-content: space-evenly;

    gap: 20px;
    @include unlist;
    @include md {
      display: none;
    }
  }

  & a {
    text-decoration: none;

    color: $color-primary;

    font-family: $font-header;
  }
  &__link {
    cursor: pointer;
  }
  &__open-linlk,
  &__list-links-open {
    display: none;

    transition: all 0.5s;
  }
  &__open-list {
    margin-top: 30px;
    margin-left: 70px;
  }
  &__shop-item,
  &__learn-item {
    padding-left: 20px;

    opacity: 0.8;

    & a {
      text-decoration: none;

      color: $color-bg-add;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__burger {
    width: 30px;
    height: 30px;

    cursor: pointer;

    background-image: url(../img/vinyl.webp);
    background-position: center;
    background-size: cover;

    @include md-min {
      display: none;
    }
  }
}
.open-btn {
  position: relative;

  width: 50px;
  height: 50px;
  margin: 40px 0 0 20px;

  cursor: pointer;
  &__span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    display: block;

    width: 50px;
    height: 5px;

    background-color: $color-bg-add;
  }
  &__span--1 {
    transform: rotate(45deg);
  }
  &__span--2 {
    transform: rotate(135deg);
  }
}
.open-link {
  position: absolute;
  z-index: 51;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;

  width: 60%;
  height: 100vh;

  color: $color-bg-add;
  background-color: $color-additional;

  font-family: $font-header;
  font-size: 3rem;

  @include lg {
    font-size: 2rem;
  }
}

.open-list {
  position: absolute;
  z-index: 51;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: space-around;

  width: 100%;
  padding-top: 10px;

  color: $color-bg-add;
  background-color: $color-additional;

  font-family: $font-header;
  font-size: 3rem;

  @include unlist;
  @include lg {
    font-size: 2rem;
  }
}
