@use '../../mixins' as *;
@use '../../presets' as *;

.nav-bar {
  flex-basis: 30%;
  display: flex;
  justify-content: space-evenly;

  gap: 20px;
  @include unlist;
  @include lg {
    flex-basis: 50%;
  }

  & a {
    text-decoration: none;

    color: $color-primary;

    font-family: $font-header;
  }
  &__link {
    cursor: pointer;
  }
  &__open-linlk {
    display: none;
    transition: all 0.5s;
  }
  &__open-list {
    margin-left: 70px;
    margin-top: 30px;
  }
  &__shop-item,
  &__learn-item {
    opacity: 0.8;
    padding-left: 20px;

    & a {
      text-decoration: none;
      color: $color-bg-add;
    }

    &:hover {
      opacity: 1;
    }
  }
}
.open-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 40px 0px 0px 20px;
  cursor: pointer;
  &__span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    display: block;
    width: 50px;
    height: 5px;
    background-color: $color-bg-add;
  }
  &__span--1 {
    transform: rotate(45deg);
  }
  &__span--2 {
    transform: rotate(135deg);
  }
}
.open-link {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $color-additional;
  width: 60%;
  height: 100vh;
  z-index: 51;
  font-family: $font-header;
  font-size: 3rem;
  color: $color-bg-add;
}
