@use "../presets" as *;

html {
  letter-spacing: 0.07rem;

  color: $color-primary;

  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.33;
}
body {
  background-color: $color-bg-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}
